/*Importamos fuente*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Seteamos paleta de colores*/
:root{
  --color1:#000000;
  --color2:#FFFFFF;
  --color3:#FEC828;
  --color4:#688272;
  --color5:#4F4F4F;
  --color6:#333333;
  --color7:#1A202C;
  --color8:#3A3A3A;
  --color9:#EBEBEB;
}

/*Estilos Generales*/
*{
  margin: 0;
  padding: 0;
  font-family:  "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color1);
}


/*Estilos Header*/
.cabecera{
  height: 100vh;
}

/*Estilos Navegación*/
nav{
  display: flex;
  width: 100%;
  padding: 0px 5px;
  background-color: rgba(255, 255, 255,1);
}

.bar-btn{
  font-size: 1.5rem;
  color: #000;
  margin-right: 20px;
  cursor: pointer;
}

.barra_n{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 4;
}

.contenedor_logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.logo{
  width: 50%;
  height: 8vh;
}

.navegacion{
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.navegacion li a:hover{
  color: var(--color4);
}

.desplegable_m > .desplegable_btn {
  padding: 16px;
  border: none;
  cursor: pointer;
}

.desplegable_m >.desplegable_btn:hover{
  color: var(--color4);
  content: "Productos ▴";
}

.desplegable_m > .desplegable_content {
  display: none;
  position: absolute;
  background-color: var(--color2);
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.desplegable_m:hover >.desplegable_content {
  display: block;
}

.desplegable_content  a{
  padding: 12px 16px;
  display: block; 
}

.cart_m:hover{
  color: var(--color4);
}

.buscar > input{
  border: none;
  padding: 3px;
  outline: none;
  background-color: var(--color9);
}

.buscar{
  display: flex;
  width: 25%;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
}

.buscar_t{
  width: 100%;
  height: 5vh;
  border-radius: 5px;
}

.buscar > input:focus{
  border: 2px solid var(--color4);
  border-radius: 5px;
  background-color: var(--color9);
}

#check{
  display: none;
}

.btn_ini{
  width: 15%;
  height: 50%;
  border: 1px solid var(--color4);
  background-color: var(--color4);
  text-align: center;
  align-content: center;
  border-radius: 5px;
  color: var(--color2);
  border-radius: 12px;

}

.btn_ini > .ini{
  color: var(--color2);
}

.btn_ini > .ini:hover{
  color: var(--color6);
}


/* Para ver la Lupa en diferentes navegadores*/
input::-webkit-input-placeholder {
font-family: "Font Awesome 6 Free";
font-weight: 900;
font-size: 13px;
color: rgb(0, 0, 0);
}

input:-moz-placeholder {
font-family: "Font Awesome 6.5.2 Free", url("../assets/fonts/Font-Awesome-6-Free-Regular-400.otf");
font-weight: 900;
font-size: 13px;
text-align: center;
}

input::-moz-placeholder-shown {
font-family: "Font Awesome 6.5.2 Free",url("../assets/fonts/Font-Awesome-6-Free-Regular-400.otf");
font-weight: 900;
font-size: 13px;
text-align: center;
}

input:ms-input-placeholder {
font-family: "Font Awesome 5 Free",url("../assets/fonts/Font-Awesome-6-Free-Regular-400.otf");
font-weight: 900;
font-size: 13px;
text-align: center;
}

/*Estilos Home*/
.home{
  display: flex;
  width: 100%;
  margin-top: 8vh;
  background-image: url('../assets/img/3c62d843303afa790fed702940b1ccf1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  height: 100vh;
}

.nuevos_productos{
  margin-top: 10%;
  margin-left: 5%;
  height: 55%;
  width: 45%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.71);
  align-content: center;
  border-radius: 10px;
}

.nuevos_productos > h4{
  color: var(--color6);
  font-size: 1rem;
}

.nuevos_productos > h2{
  color: var(--color4);
  font-weight: 700;
  font-size: 3.5rem;
  text-align: left;
  line-height: 4rem;
}

.nuevos_productos > p{
  margin-bottom: 20px;
  font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #666666;
    text-align: start;
}
.btn_nuev_prod{
  display: block;
  width: 35%;
  height: 15%;
  text-align: center;
  align-content: center;
  border-radius: 12px;
}

.btn_nuev_prod > a{
  color:  var(--color2);
}

.btn_home{
  color: var(--color2);
}

/*Estilos Producto*/

.producto {
  margin-top: 2.5em;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/img/Rectangle\ 2.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: left center;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #333333;
}

p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #666666;
}

.ctn-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 3rem;
}

.card-producto{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.card-producto img{
  width: 350px;
  object-fit: cover;
  border-radius: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.text-card {
  font-size: 24px;
}

/*Estilo Shop*/

.shop-t{
  min-height: 100vh;
}
.shop {
  text-align: center;
  margin: 50px 0;
}
.columna {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  columns: 4;
  column-gap: 30px;
}
.producto-s {
  margin-bottom: 40px;
}

.nombre {
  font-size: 20px;
  margin: 10px 0 0 o;
}

.descripcion {
  font-size: 15px;
  margin: 10px 0;
}
.button {
  background-color: var(--color4);
  color: var(--color2);
  margin: auto;
  padding: 18px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.carrito {
  color: var(--color2);
  height: 18px;
  width: 18px;
  margin-left: 10px;
}

/*Estilos Comentarios*/
.contacto{
  height: 100vh;
}

/*Estilos Comentarios*/


#titulos{
  text-align: center;
  margin: 1em;
  font-size: 32px;
}

.seccionComentarios{
  width: 100%;
}

.comentarios{
  overflow: hidden;
  width: 100%;
  height: 300px;
  align-items: center;
  position: relative;
}


.slider{    /* SLIDER COMENTARIOS */
display: flex;
flex-direction: row;
width: 300%;
margin-left: -100%;
}

.sliderSection{
  margin-left: 2em;  
  margin-right: 2em;  
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sliderButton{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #688272;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}

.sliderButton:hover {
  background-color: #5cb85c;
}

.slider_btn_left{
  left: 10px;
}

.slider_btn_right{
  right: 10px;
}

/* FIN SLIDER */

.tituloComentarios{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  margin-bottom: 2em;
}

.tituloComentarios p{
  width: 50vw;
  font-size: 15px;
}

.comentarioCliente{
  width: 350px;
  height: 200px; 
  padding: 0.7em;
  background-color: #4f4f4f34;
  border-radius: 0.5em;
}

.comentarioCliente p{
  text-align: left;
}

.textoComentario{
  margin-bottom: 2em;
}

.textoComentario {
  font-size: 12px;
}

.datosCliente{
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.datosCliente img{
  margin-right: 0.5em;
  border-radius: 1em;
  width: 40px;
  height: 40px;
}

.datosCliente h4{
  font-size: 15px;
  align-content: center;
}

.ubicacion{
  margin: 0;
  font-size: 12px;
}

.valoracion{
  align-content: center;
  margin-left: 2em;
}


/*Estilos Footer*/

.pie-pagina {
  width: 100%;
  background: var(--color4);
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  grid-column-gap: 25px;
  padding: 45px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pie-pagina .grupo-1 .box figure {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box-contacto {
padding: 10px 20px;
color: var(--color2);
display: flex;
align-items: start;
}

.pie-pagina .grupo-1 .box-contacto h3 {
  color: var(--color2);
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box-contacto p {
  color: var(--color2);
  margin-bottom: 10px;
  font-size: 1rem;
  text-align: start;
}

.pie-pagina .grupo-1 .red-social a {
  color: var(--color2);
  display: inline-block;
  text-decoration: none;
  margin: 10px;
}

.footer-contacto {
  width: 100%;
}

.red-social {
  display: flex;
  justify-content: center;
}

#facebook{
  font-size: 20px;
  margin-right: 0.5em;
}

#twitter{
  font-size: 20px;
  margin-right: 0.5em;
}

#instagram{
  font-size: 20px;
}


.footer-contacto iframe {
  width: 100%;
  height: auto;
  margin: 10px 0px;
  
}

.container-form {
  max-width: 100%;
  padding: 10px 20px;
}

.container-form h3  {
  text-align: center;
  color: var(--color2);
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.checkbox-form {
  color: var(--color2);
  margin-top: 1.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}

label {
  margin-top: 10px;
  color: var(--color2);
  font-size: 1rem;
}

input,
textarea {
  padding: 5px;
  border: 1px solid var(--color2);
  border-radius: 5px;
  
}

button {
  padding: 5px;
  margin-top: 20px;
  background-color: #5cb85c;
  color: var(--color2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

.pie-pagina .grupo-2 p {
 color: var(--color2);
 padding: 15px 10px;
 text-align: center;

}

/* 
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo img {
    margin-bottom: 20px;
  }
} */


/* MEDIA QUERY */

/* media 1024 */

@media screen and (max-width: 1024px){
  /*Menu*/

  .bar-btn{
    font-size: 1.5rem;
    color: #000;
    margin-right: 20px;
    cursor: pointer;
  }

  nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#check{
  display: none;
}

.navegacion{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, .95);
  text-align: center;
  z-index: 4;
}

.navegacion li{
  display: none;
  width: 100%;
  transition: all .5s;
}

.navegacion .buscar_t{
  display: none;
}

.mi_clase, .cart_m{
  color: #fff;
}

.navegacion li a{
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

#check:checked ~ .navegacion{
  height: 100vh;
}

#check:checked ~ .navegacion li{
  display: block;
  transition: all .5s;
}

  /*Home*/
.nuevos_productos{
  width: 60%;
}

.nuevos_productos h4{
  font-size: 1.5rem;
}

.nuevos_productos h2{
  font-size: 3rem;
}

.nuevos_productos p{
  font-size: 1rem;
}

.btn_nuev_prod{
  width: 40%;
}


/* Productos */

.ctn-productos{
  justify-content: space-around;
  flex-wrap: wrap;
}

/* seccion comentarios */

  .comentarioCliente{
    width: 300px;
  }

  .sliderSection{
    margin-left: 3em;
    margin-right: 3em;
  }

}

/* media 768 */

@media screen and (max-width: 768px){
/*Homw*/

.bar-btn{
  font-size: 1.5rem;
  color: #000;
  margin-right: 20px;
  cursor: pointer;
}

  .nuevos_productos{
    width: 50%;
  }
  
  .nuevos_productos h4{
    font-size: 1rem;
  }
  
  .nuevos_productos h2{
    font-size: 1.5rem;
  }
  
  .nuevos_productos p{
    font-size: 0.7rem;
  }
  .btn_nuev_prod{
    width: 50%;
  }

  /* Seccion Comentarios */

.tituloComentarios p{
  font-size: 12px;
}

.comentarioCliente{
  width: 230px;
}  

.datosCliente{
  margin: 0;
}

.datosCliente h4{
  font-size: 10px;
}

.sliderSection{
  margin: 0;
}

.sliderButton{
  margin: 0;
  position: absolute;
  top: 85%;
}

.slider_btn_left{
  left: 40%;
}

.slider_btn_right{
  right: 40%;
}

}

/* media 320px */

@media screen and (max-width: 320px){

  

/*Home*/

.bar-btn{
  font-size: 1.5rem;
  color: #000;
  margin-right: 20px;
  cursor: pointer;
}

.nuevos_productos{
  width: 90%;
}

.nuevos_productos h4{
  font-size: 1rem;
}

.nuevos_productos h2{
  font-size: 1.5rem;
}

.nuevos_productos p{
  font-size: 0.7rem;
}

.btn_nuev_prod{
  width: 100%;
}

  /* seccion comentarios */

  #titulos{
    font-size: 24px;
  }

.tituloComentarios p{
  width: 90%;
}

.comentarioCliente{
  margin-top: 1em;
  margin-bottom: 1em;
}

.ubicacion{
  font-size: 10px;
}

.textoComentario{
  margin-top: 1em;
  font-size: 10px;
}

.sliderSection{
  flex-direction: column;
}

.comentarios{
  height: 800px;
}

.sliderButton{
  margin-top: 2em;
}

.slider_btn_left{
  left: 30%;
}

.slider_btn_right{
  right: 30%;
}


/* Card Products */

.card-producto img{
  width: 200px;
}
}
