.shop {
  text-align: center;
  margin: 50px 0;
}
.columna {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  columns: 4;
  column-gap: 30px;
}
.producto {
  margin-bottom: 40px;
}

.nombre {
  font-size: 20px;
  margin: 10px 0 0 o;
}

.descripcion {
  font-size: 15px;
  margin: 10px 0;
}
.button {
  background-color: #688272;
  color: white;
  margin: auto;
  padding: 18px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.carrito {
  color: white;
  height: 18px;
  width: 18px;
  margin-left: 10px;
}
